<div class="container">
  <div class="header">
    <div class="inner-header">
      <img [src]="logo" />
      <div class="text-header">
        <span style="color: #ecf1f6"
          >Best list of all countries with their flag on the whole internet
          !!!</span
        >
      </div>
    </div>
  </div>

  <div class="search-container">
    <div class="search">
      <input
        type="text"
        style="width: 85%; padding: 8px"
        matInput
        #searchBox
        [(ngModel)]="searchCountry"
        placeholder="Enter atleast one character"
      />
      <div class="btn-container">
        <span>Search</span>
      </div>
    </div>
  </div>

  <div class="main" *ngIf="error" style="margin-top: 160px">
    <h1>No Solutions Found....</h1>
  </div>
  <div class="main">
    <div class="country" *ngIf="!isLoading">
      <div
        *ngFor="
          let country of !searchCountry ? intitialCOuntryDisplay : searchDisplay
        "
        class="card"
        (click)="countryView(country)"
      >
        <img
          [src]="country?.flags?.png"
          width="176px"
          height="95px"
          style="border-radius: 4px; text-align: center"
        />
        <h4 style="color: black; margin-top: 4px">
          {{ country?.name?.common }}
        </h4>
        <h5
          style="color: lightgrey; text-transform: uppercase; margin-top: 4px"
        >
          {{ country?.region }}
        </h5>
      </div>
    </div>
    <div
      *ngIf="isLoading"
      style="
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <mat-progress-spinner
        mode="indeterminate"
        diameter="80"
        class="spinner-bar"
        defaultColor="primary"
        color="primary"
      ></mat-progress-spinner>
    </div>
    <div class="btn-wrap" *ngIf="searchCountry.length === 0">
      <div class="btn-load" (click)="addMore()">
        <span>Load More</span>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <img [src]="logo" />
      <div class="right-footer">
        <input
          type="text"
          placeholder="Enter Email"
          class="footer__input"
          style="padding: 6px"
        />
        <div class="btn-footer" style="border-radius: 4px">
          <span>Subscribe</span>
        </div>
      </div>
    </div>
    <div class="inner-footer">
      <span style="color: white">Worldpedia Inc.</span>
      <span style="color: white">2023 | All rights reserved.</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
