.container {
  position: relative;
}
.header {
  background-color: #064885;
  padding-left: 8rem;
  padding-right: 8rem;
}
.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
.text-header {
  width: 280px;
  text-align: end;
}
.search-container {
  background-color: white;
  height: 80px;
  width: 1143px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 12%;
  left: 11%;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.btn-container {
  width: 100px;
  padding: 8px;
  color: white;
  background-color: #064885;
  text-align: center;
}

.footer {
  background-color: #272727;
  padding-left: 8rem;
  padding-right: 8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 8px;
}
.btn-footer {
  width: 100px;
  padding: 8px;
  color: white;
  background-color: #064885;
  text-align: center;
}
.inner-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding-bottom: 8px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.main {
  height: 404px;
  margin-top: 90px;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
.country {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
.card {
  width: 190px;
  height: 160px;
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-load {
  width: 100px;
  padding: 8px;
  color: white;
  background-color: #064885;
  text-align: center;
  border-radius: 4px;
}
.btn-wrap {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
@media only screen and (max-width: 1150px) {
  .main {
    width: 820px;
  }
  .country {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
  }
  .search-container {
    width: 720px;
    top: 14%;
    left: 11%;
  }
}

@media only screen and (max-width: 1060px) {
  .search-container {
    width: 620px;
    top: 14%;
    left: 18%;
  }
  .main {
    height: 390px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 835px) {
  .main {
    width: 520px;
  }
  .country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
  }
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .text-header {
    width: 200px;
    text-align: end;
    font-size: 12px;
  }
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .search-container {
    max-width: 400px;
    top: 14%;
    left: 26%;
  }
  .main {
    height: 610px;
    margin-top: 120px;
  }
}
@media only screen and (max-width: 655px) {
  .search-container {
    max-width: 400px;
    top: 14%;
    left: 20%;
  }
}
@media only screen and (max-width: 520px) {
  .main {
    width: 320px;
  }
  .country {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
  }
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text-header {
    width: 180px;
    text-align: end;
    font-size: 10px;
  }
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .btn-footer {
    padding: 6px;
    font-size: 12px;
  }
  .inner-footer {
    font-size: 12px;
  }
  .search-container {
    max-width: 300px;
    top: 14%;
    left: 22%;
  }
  .search {
    padding: 8px;
  }
  .search-container {
    height: 60px;
  }
  .main {
    height: 440px;
    margin-top: 80px;
  }
}
@media only screen and (max-width: 410px) {
  .search-container {
    max-width: 250px;
    top: 14%;
    left: 18%;
  }
}
