/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #594bd9 !important;
}
